#clear-storage-btn {
  position: absolute;
  right: 0;
}

.landingpage-button {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  background-color:  var(--main-blue);
  cursor: pointer;
  color: var(--main-white);
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}

.endingpage-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--main-blue);
  max-width: 140px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.endingpage-button > p {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-white);
  align-self: center;
  font-size: 15px;
  margin: 0;
  padding: 10px;
}

.endingpage-button:hover {
  background-color: var(--main-green);
}

@media only screen and (max-width: 430px) {
  #clear-storage-btn {
    position: relative
  }
}

@media only screen and (max-width: 1000px) {
  .endingpage-button p {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 410px) {  
  .endingpage-button p {
    font-size: 0.50em;
  }
}